<div class="card">
    <div class="card-header">
        <img [src]="productos.img" alt="" class="image " >
    </div>
    <div class="card-body">
        <h2 class ="Title">{{productos.name}}</h2>
        <input id="text" type="text" class="input" (change)="onChange($event)">
        <p class = "info">{{productos.description}}</p>
        <p class = "info">{{productos.price}}</p>
    </div>
    <div class="card-footer">
        <button class="btn" (click)="onClick()">Ver Datos</button>
    </div>
    
</div>

