<div class="card">
    @if(data.img){
    <div class="card-header">
        <img [src]="data.img" alt="" class="image " >
    </div>
    }
    <div class="card-body">
        <h2 class ="Title">{{data.name}}</h2>
        <input type="text" class="input">
        <p class = "Info">{{data.description}}</p>
        <@if(data.price){
            <p class="info">{{data.price}}</p>
        }
    </div>
    <div class="card-footer">
        <button class="btn" (click)="onClick()">Ver Datos</button>

    </div>
    
</div>

