<div class="card">
    <div class="card-header">
        <img [src]="data.data" alt="" class="image " >
    </div>
    <div class="card-body">
        <h2 class ="Title">{{data.data.name}}</h2>
        <input type="text" class="input">
        <p class = "Info">{{data.data.description}}</p>
        @if(data.data.price){
            <p class=""info></p>
        }
        <p class = "Info">{{productos.price}}</p>
    </div>
   <!-- <div class="card-footer">
        <button class="btn" (click)="onClick()">{{text_btn}}</button>
    </div>-->
    
</div>

