
.btn{
    padding: 5px 10px;  
    font-size: 14px;
    font-weight: 500;
    background-color:#595958;
    color:#0e0e0e;
    border: none;
    border-radius: 5px;
    &:active{
    background-color:#F2E9E4 ;
    }
}